nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
    background-color: #f2f2f2;
}

nav a:hover {
    background-color: #ddd;
}
body {
    background-image: url("../img/background2.jpg");
    height: 500px;
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment : fixed;
}

.competicions-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.competicion {
    width: 300px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   
}

.competicion img {
    width: 100%;
    height: 170px;
    background-color: #fff;
}

.competition-info {
    padding: 20px;
}

h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

